@model IEnumerable<MVCReviewSite.Models.Review>

@{
    ViewBag.Title = "Gallifrey Weekly"; //appears in tab
}

<h2>Technology Review</h2> @*Title of page*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row"> @*creates rows for the reviews*@
    
        
            @*@Html.DisplayNameFor(model => model.Category.Name)
        
            @Html.DisplayNameFor(model => model.Title)
        
            @Html.DisplayNameFor(model => model.Content)
        
            @Html.DisplayNameFor(model => model.PublishedDate)*@

    @foreach (var item in Model) 
    {
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"> @*responsive columns for each review*@
            <div class="thumbnail">
                <div class="caption">

                    @*@Html.DisplayFor(modelItem => item.Category.Name)*@

                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3> @*display title*@

                    @*@Html.DisplayFor(modelItem => item.Content)*@

                    <p>@Html.DisplayFor(modelItem => item.PublishedDate)</p> @*display when published*@
                    <p>@Html.ActionLink("Details", "Details", new { id = item.ID })</p> @*can view more details*@

                    
                </div>
            </div>
        </div>
    }

</div>
